<div class="container-fluid">
	<h1>Bootcamp Enrollment Form</h1>
	<br>
	<div class="alert alert-danger" *ngIf="errMessage">
		{{errMessage}}
	</div>
	<!-- ngForm is a string value, only show the form when it is not being submitted (*ngIf="!submitted") -->
	<form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
		<!-- {{ userForm.form.valid }} -->
		<!-- {{userForm.value | json }}
		<hr>
		{{ userModel | json }} -->
		<div class="form-group row">
			<label class="col-md-1">Name </label>
			<input type="text" required #name="ngModel" 
			[class.is-invalid]="name.invalid && name.touched" class="form-control text-size" name="username" [(ngModel)]="userModel.name">
			<small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
		</div>
		<div class="form-group row">
			<label class="col-md-1">Email </label>
			<input type="text" class="form-control text-size" name="email" [(ngModel)]="userModel.email">
		</div>
		<div class="form-group row">
			<label class="col-md-1">Phone </label>
			<input type="text" #phone="ngModel" required pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" class="form-control text-size" 
			name="phone"[(ngModel)]="userModel.phone">
			<!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10 digit.</small>  -->
		</div>
		<div *ngIf="phone.errors && (phone.invalid || phone.touched)">
			<small class="text-danger" *ngIf="phone.errors.required">Phone number is required.</small>
			<small class="text-danger" *ngIf="phone.errors.pattern">Phone must be 10 digit.</small>
		</div>
		<div class="form-group">
			<select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" #topic="ngModel" class="custom-select my-option" name="topic" [(ngModel)]="userModel.topic" [class.is-invalid]="topicHasError && topic.touched">
				<option value="default">I am interested in</option>
				<option *ngFor="let topic of topics">{{topic}}</option>
			</select>
			<small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please chooce any of Angular, React, or Vue.</small>	
		</div>
		<div class="mb-3">
			<label>Time preference</label>
			<div class="form-check">
				<input type="radio" name="timePreference" 
				value="morning" class="form-check-input" [(ngModel)]="userModel.timePreference">
				<label class="form-check-label">Morning (9AM - 12PM)</label>
			</div>
			<div class="form-check">
				<input type="radio" name="timePreference" value="evening" class="form-check-input" [(ngModel)]="userModel.timePreference">
				<label class="form-check-label">Evening (5PM - 8PM)</label>
			</div>			
		</div>

		<div class="form-check mb-3">
			<input type="checkbox" class="form-check-input" name="offer" [(ngModel)]="userModel.offer" >
			<label class="form-check-label">Send me promotional offers</label>
		</div>
		<button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="Submit">Submit form</button>
	</form>
</div>	